@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body {
	font-family: Ubuntu;
	font-size: 18px;
	background-color: whitesmoke;
	}
.divPageBody {
	width: 60%;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
 #idMenuProductName {
	font-family: Oswald;
	font-style: italic;
	font-size: 28px;
	}

.divSignedOff {
	margin-top: 200px;
	line-height: 200%;
	text-align: center;
	}
.divLogonButton {
	display: none;
	}
.divLoggedInMessage {
	margin-top: 50px;
	border-top: 1px solid silver;
	font-size: 14px;
	padding-top: 10px;
	}

.divSitelistContainer {
	min-height: 400px;
	}
.divSitelist {
	font-size: 15px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid silver;
	background-color: white;
	padding: 3px;
	}
.divSitelist td {
	min-width: 100px;
	}
.spSitename {
	cursor: pointer;
	margin-right: 1em;
	}
.spSitedate {
	margin-right: 1em;
	}
