body {
	font-family: Ubuntu;
	font-size: 18px;
	background-color: whitesmoke;
	}
.divPageBody {
	width: 60%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
.divLogonButton {
	display: none;
	}
.divLoggedInMessage {
	margin-top: 50px;
	border-top: 1px solid silver;
	font-size: 14px;
	padding-top: 10px;
	}

.divSitelist {
	font-size: 16px;
	}
.spSitename {
	cursor: pointer;
	margin-right: 1em;
	}
.spSitedate {
	margin-right: 1em;
	}

.divColumnWrapper {
	display: table;
	width: 100%; /* Take the full width of its container. */
	border-collapse: separate; /* Needed for spacing between cells. */
	border-spacing: 5px 0; /* 5px horizontal spacing, 0px vertical spacing. */
	}
.divOutlineColumn {
	display: table-cell;
	width: 350px;
	border: 1px solid silver;
	padding: 5px;
	min-height: 400px;
	background-color: white;
	margin-right: 5px;
	}
.divEditorColumn {
	display: table-cell;
	border: 1px solid silver;
	background-color: white;
	}

.divBody {
	padding-left: 5px;
	padding-right: 5px;
	}
.divBody p {
	font-size: 18px;
	line-spacing: 140%;
	}
.divAttsDisplay {
	font-size: 14px;
	margin-bottom: 2px;
	}
.divUserInfo {
	line-height: 140%;
	margin-bottom: 10px;
	}
.divUserInfoHeadline {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 3px;
	}



